body{
    background-color:powderblue;
}

table,td,th{
    border: 1px solid green ;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

table{
    border: 4px solid green;
}

