*{
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.image{
    background-image: url(background.jpeg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 99vh;
    width: 100vw;
    position: relative;    
    
}

.form{
    border: 1px solid black ;
    background-color: black;
    width: 25%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    position: absolute;    

}

p{
      color: white;
      text-align: center;
    
}
label{

    color: white;
    padding-left: 10%;
    font-size: smaller;
}


input[type=text], input[type=password] {
    margin-left: 10%;
    padding: 1%;
    padding-left: 2%;
    
  }
  button {
  background-color: red;
  color: white;
  margin-left: 13%;
  padding-left:24%;
  padding-right: 24%;
  padding-top: 1%;
  border: 1px solid red;
  border-radius: 10px;

}
a{
    font-size: small;
    color: grey;
    margin-left: 10%;


}